@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}
.main {
  text-align: center;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    1,
    16,
    23,
    0.65
  ); /* Adjust overlay color and opacity */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Adjust text color */
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar-track {
  @apply bg-slate-100;
}
.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}
